* { margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; overflow :hidden;}
canvas { display: block; }


body {
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #050526;
	font-family: 'Sanchez', serif;
	font-size	: 100%;
}
#info .top {
	position	: absolute;
	top		: 0px;
	left	: 10px;
	width		: 100%;
	padding		: 5px;
	text-align	: left;
	font-size	: 600%;
	font-weight: 100;
	color :#FFFFFF;
}
#info a {
	color		: #66F;
	text-decoration	: none;
}
#info a:hover {
	text-decoration	: underline;
}
#info .bottom {
	position	: absolute;
	bottom		: 0px;
	right		: 0px;
	padding		: 5px;
	color:#FFFFFF;
	font-size	: 80%;
}

#info .deets {
	position	: absolute;
	top		: 98px;
	left		: 16px;
	padding		: 5px;
	color:#FFFFFF;
	font-size	: 134%;
}


#myCanvas {
	background: #050526;
	overflow :hidden;
}

#myButtons {
	bottom: 20px;
	left: 20px;
	position: absolute;
}

#myButtons button {
	padding: 5px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}